<!DOCTYPE html>
<html lang="en" dir="ltr">
  <!--
                             .
                            / V\
                        / `  /
                        <<   |      bark bark woof.
                        /    |
                    /      |        this was all custom built
                    /        |      by Doughnut :3
                /    \  \ /         
                (      ) | |        doughnut.dev/socials/
        ________|   _/_  | |
        <__________\______)\__)
    -->
  <head>
    <meta charset="utf-8">
    <title>XBN — CasparCG Graphics</title>
    <link rel="stylesheet" href="css/fonts/inter.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body class="other">
    <div class="wrapper">
      <div class="lower-third container">
        <!--<img class="lower-third logo" src="img/fnt-icon.png">-->
        <div class="lower-third mask">
          <div class="lower-third event">
            <div class="textwrap">
              <h1 class="text">[Event] Event</h1>
            </div>
          </div>
          <div class="lower-third segment">
            <div class="transition">
            </div>
            <div class="textwrap">
              <h1 class="text">[Segment] Segment</h1>
            </div>
            <div class="lower-third clock">
              <h1 class="clocktext">00:00 <span class="clockutc">UTC</span></h1>
            </div>
          </div>
          <div class="lower-third metadata">
            <div class="textwrap">
              <h1 class="text">[Metadata] Metadata</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="js/jQuery-old.js"></script>
    <script src="js/jquery.marquee.js"></script>
    <script src="js/TweenMax.js"></script>
    <script src="js/CustomBeizer.js"></script>
		<script src="js/TimelineMax.js"></script>
    <script src="js/socket-io.js"></script>
    <script src="js/test.js"></script>
  </body>
</html>
